
.img-post{
    position: relative;
    width:50px;
    height:50px;
    top:20px;
    left:30px;
}
.post-caption{
    position: relative;
    width:620px;
    left:40px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    top:15px;
    line-height: 22px;
}
.user-caption{
    position: relative;
    bottom:70px;
    left:40px;
    width:650px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.user-image{
    position: relative;
    top:150px;
    left:200px;

}

.like{
 position: relative;
 top:150px;
 left:50px;
 font-size: 27px;
}
.dislike{
    position: relative;
 top:107px;
 left:120px;
 font-size: 17px;
 text-decoration: none;
 font-size: 27px;
}
.post-form {
    position: relative;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    width:500px;
    height:490px;
    left:180px;
  }

  .posts{
    width: 80%; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the form on the page */
  }
  .point{
    position: relative;
    left:400px;
    bottom:30px;
    width:40px;
    height:40px;
  }
  .username-title{
    position: absolute;
    left:100px;
    bottom:430px;
    font-weight: bold;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
  }
  


#openModalBtn{
    position: relative;
    border-color: lightgrey;
    border-radius: 20px;
    width:100px;
    height:30px;
    left:50px;
    bottom:40px;
    background-color: transparent;
    color:rgb(78, 165, 194);
    padding:0px 20px 0px 0px;

}

  .dropdown-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 400px;
    top: 190px;
    width: 25%;
    height: 25%;





  }

  /* Modal Content */
  .dropdown-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px lightgrey;
  }

  /* Close Button */
  .Exit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    bottom:20px;
    bottom:10px;
    position: relative;

  }

  .Exit:hover,
  .Exit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
   .dropdown{
    position: relative;
    width:15px;
    height:15px;
    color:rgb(78, 165, 194);
    bottom:22px;
    left:45px;
   }

   .title-drop{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    bottom:10px;
   }
   .world{
    position: relative;
    width:40px;
    height:40px;
   }
   .world-everyone{
    position: relative;
    font-weight: bold;
    bottom:25px;
    left:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .users{
    position: relative;
    width:50px;
    height:50px;
    right:6px;
    bottom:25px;
   }
   .users-circle{
    position: relative;
    bottom:60px;
    left:50px;
    font-weight: bold;

   }
   .subscribe{
    position: relative;
    z-index: 1;
    left:40px;
   }







