
.head{
    z-index: 1;
}
.nav-side{
    position: fixed;
    left:0px;
    width:14%;
    height:100%;
   background-color: #2F4F4F;
    position: fixed;
    bottom:3px;
}
.dashboard{
    color:white;
    position: relative;
    top:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    left:15px;
}
.img{
    width:30px;
    height:30px;
    position: relative;
    top:60px;
    left:20px;
}
.menu{
    position: relative;
    top:60px;
    left:30px;

}
.title{
    position: relative;
    left:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-title{
    position: relative;
    left:1000px;
    color:	#696969;
    bottom:30px;
}


.profile-data{
  position: relative;
  left:110px;
  width:1170px;
  height:160px;
  background-color: rgba(130, 165, 166,0.5);
  bottom:30px;
  left:70px;
  z-index: -1;



}
.profile-img{
    position: relative;
    left:30px;
    width:90px;
    height:90px;
    top:30px;
}
.user{
    position: relative;
    left:150px;
    bottom:70px;
}
.email{
    position: relative;
    font-size: 14px;
    left:150px;
    bottom:70px;
}

.add-icon{
    position: relative;
    bottom:450px;
    left:960px;
    width:30px;
    height:30px;
}
.description{
    position: absolute;
    font-size: 15px;
    width:800px;
    left: 150px;
    bottom:10px;

}

.btns{
    position: relative;
    left:1040px;
    bottom:60px;
    background-color: transparent;
    color:white;
    border-color: white;

}
.img-modal{
    position: relative;
    left:180px;
    width:90px;
    height:90px;
    bottom:14px;
}
.camera{
    position: relative;
    width:30px;
    height:30px;
    left:150px;
    top:15px;
}
.detail,.username,.email.image{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.posts{
    position: fixed;
    left:220px;
    width:50%;
    height:450px;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px lightgrey;
    top:110px;
}
.btn-post{
    position: relative;
    z-index: 1;
    left:110px;
}

.img-post{
    position: relative;
    width:40px;
    height:40px;
    left:30px;
    top:20px;
}
.user-post{
    position: relative;
    left:80px;
    bottom:10px;
}
.modal-post{
    color:rgb(201, 188, 188);
}
.input-modal{
    position: relative;
    border: none;
    background: transparent;
    outline: none;
}

.image-modal{
    position: relative;
    top:40px;
}
.post-caption{
    position: relative;
    width:620px;
    left:40px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    top:18px;
    line-height: 22px;
}
.user-caption{
    position: relative;
    top:60px;
    left:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.user-image{
    position: relative;
    top:120px;
    left:200px;

}

.like{
 position: relative;
 top:170px;
 left:50px;
 font-size: 17px;
}
.dislike{
    position: relative;
 top:142px;
 left:120px;
 font-size: 17px;
 text-decoration: none;
}

